<header>
    <nav>
        <%= link_to "Accueil", accueil_path %>
        <%= link_to "Formations & Séminaires", formation_path %>
        <%= link_to "Tarifs", tarif_path %>
        <%= link_to "Le Domaine", domaine_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to "Avis", avis_path %>
    </nav>
</header>